name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: eeems/remarkable-toolchain:latest-rm2

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        apt-get update
        apt-get install -y zip curl build-essential qt6-base-dev qt6-tools-dev qt6-declarative-dev qt6-base-private-dev libts-dev

    - name: Build plugin
      run: . /opt/codex/rm2/*/environment-setup-cortexa7hf-neon-remarkable-linux-gnueabi && qmake && make

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: libqevdevlamyplugin
        path: |
          *.so
